.alert-success {
    background-color: #d6f0e0;
    color: #0d6832;
    padding: 20px;
    margin: 10px 10px;
    font-size: 16px;
}
.alert {
    border: 0;
}
.alert-error{
    background-color: #f0dbd6;
    color: #681f0d;
    padding: 20px;
    margin: 10px 10px;
    font-size: 16px;
}
#wpcontent {
    padding-left: 0;
}
.opaigpt_image_select_all{
    cursor: pointer;
}
.api-setup-faq{
    margin-bottom: 18px!important;
}
#api-plugin-container{
    margin: 0 auto 0.625rem auto;
    box-sizing: border-box;
    border: none;
}
.api-head {
    background-color:#fff;
    text-align:center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
}
@media (max-width: 45rem) {
    .api-head {
        padding:0 1.25rem
    }
}
.api-head__inside-container {
    padding:.375rem 0;
    margin:0 auto;
    width:100%;
    max-width:45rem;
    text-align: left;
}
.api-head__logo-container {
    padding:.3125rem 0 0;
    display: inline-flex;
    text-align: justify;
    align-content: space-between;
}
.api-head__logo-container p{
    font-size: 18px;
    margin-left: 10px;
    line-height: 25px;
}
.api-head__logo-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.api-head__logo {
    width: 2.5rem;
    height:2.5rem;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.btn-process {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: #2271b1;;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 12px 20px;
  border-radius:0;
  color: #fff;
  cursor: pointer;
}
.btn-process[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-ring {
  display: none;
}
.btn-ring:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ring 1.2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.opaigptmain-div{
    background: #f0f0f1;
    width: 100%;
    height: 100%;
    padding: 3rem; 
    box-sizing: border-box;
}
.opaigptmain-div .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.opaigptmain-div .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
.opaigptmain-div .api-box {
    box-sizing: border-box;
    background: white;
    position: relative;
    width: 100%;
    padding:30px 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}
.opaigptmain-div .api-box-img {
    box-sizing: border-box;
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
    padding:30px 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}
.opaigptmain-div .form-box {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.opaigptmain-div .api-box-faq-header {
   text-align: center;
   margin: 0 auto 18px auto!important;
   line-height: 1.5!important;
}
.opaigptmain-div .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.opaigptmain-div .app-lable {
    font-size: 14px;
    margin-right: 5px;
}
.opaigptmain-div .form-control {
    width: 70%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.opaigptmain-div .regular-text{
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    outline: none;
}
.opaigptmain-div .btn-save {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background-color: #2271b1;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 12px 20px;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
}
.opaigptmain-div .api-box-img #image-response{
    box-sizing: border-box;
} 
.opaigptmain-div .api-box-img #image-response img{
    width: 100%;
    box-sizing: border-box;
    float: left;
}
@media (min-width: 992px){

    .opaigptmain-div .col-lg-4 {
        flex: 0 0 auto;
        width: 41.666667%;
        box-sizing: border-box;
    }
    .opaigptmain-div .col-lg-8 {
        flex: 0 0 auto;
        width: 58.333333%;
        box-sizing: border-box;
    }
    .opaigptmain-div .api-box{
        width: 100%;
    }
    .opaigptmain-div .api-box-img{
        width: 100%;
    }

}
.opaigptmain-div .image-item{
    position: relative;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 2%;
    box-sizing: border-box;
    float: left;
}
.opaigptmain-div .image-item input{
    position: absolute;
    left: 20px;
    top: 20px;
}
.opaigptmain-div .image-generator-save{
    position: absolute;
    left: 40%;
    bottom: 10%;
}
.opaigptmain-div .progress-main{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    background-color: white;
    display: none;
}
.opaigptmain-div .progress-main h2 {
    margin-bottom: 20px;
}
.opaigptmain-div .opaigpt-convert-bar{
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #2271b1;
    border-radius: 40px;
}
.opaigptmain-div .opaigpt_message{
    color: green;
    margin-bottom: 10px;
}
.opaigptmain-div .opaigpt-convert-progress{
    height: 35px;
    line-height: 35px;
    background: #c1c1c1;
    border-radius: 5px;
    color: #fff;
    padding: 2px 12px;
    position: relative;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.opaigptmain-div .opaigpt-convert-progress .opaigpt_message span{
    background: #bb0505;
}
.opaigpt-convert-progress span{
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background: #2271b1;
    top: 0;
    left: 0;
    transition: width .6s ease;
}
.opaigptmain-div .opaigpt-convert-progress small{
    position: relative;
    font-size: 12px;
}
.opaigpt-help {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.opaigpt-help h2{
    font-size: 21px;
    margin-left: 20px;

}
.opaigpt-help h3{
    font-size: 16px;
    margin-left: 20px;
}
.opaigpt-mainsupport{
    margin-left: 25px;
}
.opaigpt-help p{
    font-size: 13px;
    margin-left: 20px;
}
.opaigpt-support .title {
    color: #212529;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.opaigpt-support p{
    color: #212529;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.opaigpt-support .btn.btn-primary {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
    color:#fff;
    padding: 10px 2rem;
    border: 0;
    transform: translateY(-0.15em);
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}
.opaigpt-support .btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}
.opaigpt-copytext {
  padding: 4px 4px;
  border-radius: 10px;
  text-align: right;
}
.opaigpt-copytext .opaigpt-tooltip .opaigptcopy-btn {
  box-sizing: border-box;
  background-color: #2271b1;
  color: #ffffff;
  width: 70px;
  padding: 10px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  user-select: none;
}
.opaigpt-copytext .opaigpt-tooltip {
  position: relative;
  display: inline-block;
}
.opaigpt-copytext .opaigpt-tooltip .opaigpt-tooltiptext {
  visibility: hidden;
  width: 115px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 65%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.opaigpt-copytext .opaigpt-tooltip .opaigpt-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}
.opaigpt-copytext .opaigpt-tooltip:hover .opaigpt-tooltiptext {
  visibility: visible;
  opacity: 1;
}